{% extends 'base.html.twig' %}

{% block main %}
	.<div class="container">
		<div class="card">

			<div class="card-header">Enregistrement d'un client</div>
			<div class="card-body">
				{{ form(formClient) }}
			</div>
		</div>
	</div>


{% endblock %}
